article {
    display: flex;
    flex-direction: column;
    font-family: 'Jal_Onuel';

}

html {
    background-color: #525864;
}

body {
    background-color: rgb(40, 35, 35);
}

.name {
    color: orange;
}

.tt {
    color: orange;
}

.exp {
    color: white;
}

.q {
    color: white;
}

.footer {
    color: white;
}

.good {
    color: rgb(8, 199, 242);
}

.bad {
    color: rgb(210, 86, 34);
}

.just {
    color: violet;
}

.celeb{
    color: rgb(230, 230, 17);
}

.question {
    display: none;
}

.result{
    display: none;
}

#img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.share {
    margin: 0 auto;
}

.kakao_ad {
    width: 320px;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.youtube-link {
    font-size: 1.5rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
}

.youtube-link:hover {
  font-size: 1.5rem;
  line-height: 1.71;
  text-align: center;
  color: #f73737;
  text-decoration: underline;
}

.banner-img {
    width: 300px;
}

@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}